<form class="{{cssClass}}" autocomplete="off">
  {{!-- Item Sheet Header --}} {{>
  "systems/midgard5/templates/sheets/item/partials/header.hbs"}}
  <div class="sheet-content">
    {{!-- Item Sheet Header --}} {{>
    "systems/midgard5/templates/sheets/item/partials/basics.hbs"}}
    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
  </div>
</form>